* {
    box-sizing: border-box;
}

body {
    font-family: $main-font-name;
    font-size: $main-font-size;
    color: $very-dark-grayish-blue;
}

.page {
    position: relative;
    z-index: 9;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;
    }
        
}

.padding-section {
    padding-top: $large * 2;
    padding-bottom: $large;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.list-unstyled {
    margin-top: 0;
    list-style: none;
    padding: 0;
}