// primary
$bright-blue: hsl(220, 98%, 61%);
$background-gradient: linear-gradient(to right bottom, hsl(192, 100%, 67%) 0, hsl(280, 87%, 65%));

// light theme
$white: #fff;
$light-gray: #fafafa;
$light-grayish-blue: #e4e5f1;
$very-light-grayish-blue: #d2d3db;
$dark-grayish-blue: #9394a5;
$very-dark-grayish-blue: #484b6a;

// dark theme
$dark-blue: #161722;
$very-dark-blue: #25273c;
$dark-Light-grayish-blue: #cacde8;
$dark-grayish-blue: #777a92;
$very-dark-grayish-blue: #4d5066;
$very-dark-grayish-blue-two: #393a4c;